<% @posts.each do |p| %>  
	<div class="post">
	  <%= p.created_at.to_formatted_s(:short) %>
	  <%= display_name(p.user) %> wrote:
	  
	  <div class="posttitle">
	  	<%= p.title %>
	  </div>
	  
	  <div class="postbody">
	  	<%= p.body %>
	  </div>
	  
	</div>
<% end %>
<%= link_to 'Create New Post', new_post_path %>
<% if signed_in? %>
	<%= link_to 'signout', logout_path, method: :delete %>
<% end %>
