<% @posts.each do |p| %>  
	<div class="post">
	  <div class="poster">
	  	<p>
	  	<%= p.created_at.to_formatted_s(:short) %>
	  	</p>
	  	<p>
	  	<%= display_name(p.user) %>
	  	</p>
	  </div>
	  <div class="postcontent">
		  <div class="posttitle">
		  	<%= p.title %>
		  </div>
		  
		  <div class="postbody">
		  	<%= p.body %>
		  </div>
	  </div>
	</div>
<% end %>
<%= link_to 'Create New Post', new_post_path %>
<% if signed_in? %>
	<%= link_to 'signout', logout_path, method: :delete %>
<% end %>
